<!--
Name: Gavin Claire
Document: export.html
Decription: HTML for the export page.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Tabulator -->
    <link href="https://unpkg.com/tabulator-tables@4.8.1/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.8.1/dist/js/tabulator.min.js"></script>

</head>

<body>
    <div id="players"></div>
</body>

    {% include 'navbar.html' %}
    
    <script type="text/javascript">
        var tabledata = [{
                playerid: 1,
                ipaddress: "Virat Kohli",
                price: "17",
                team: "RCB",
                joiningdate: "01/01/2020"
            }, {
                playerid: 2,
                ipaddress: "Rohit Sharma",
                price: "15",
                team: "MI",
                joiningdate: "02/01/2020"
            }, {
                playerid: 3,
                ipaddress: "MS Dhoni",
                price: "15",
                team: "CSK",
                joiningdate: "03/01/2020"
            }, {
                playerid: 4,
                ipaddress: "Shreyas Iyer",
                price: "7",
                team: "RCB",
                joiningdate: "04/01/2020"
            }, {
                playerid: 5,
                ipaddress: "KL Rahul",
                price: "11",
                team: "KXIP",
                joiningdate: "05/01/2020"
            }, {
                playerid: 6,
                ipaddress: "Dinesh Karthik",
                price: "7",
                team: "KKR",
                joiningdate: "06/01/2020"
            }, {
                playerid: 7,
                ipaddress: "Steve Smith",
                price: "12",
                team: "RR",
                joiningdate: "07/01/2020"
            }, {
                playerid: 8,
                ipaddress: "David Warner",
                price: "12",
                team: "SRH",
                joiningdate: "08/01/2020"
            }, {
                playerid: 9,
                ipaddress: "Kane Williamson",
                price: "3",
                team: "SRH",
                joiningdate: "09/01/2020"
            }, {
                playerid: 10,
                ipaddress: "Jofra Archer",
                price: "7",
                team: "RR",
                joiningdate: "10/01/2020"
            }, {
                playerid: 11,
                ipaddress: "Andre Russell",
                price: "9",
                team: "KKR",
                joiningdate: "11/01/2020"
            }, {
                playerid: 12,
                ipaddress: "Chris Gayle",
                price: "2",
                team: "KXIP",
                joiningdate: "12/01/2020"
            },

        ];

        var table = new Tabulator("#players", {
            height: 220,
            data: tabledata,
            layout: "fitColumns",
            pagination: "local",
            paginationSize: 5,
            tooltips: true,
            columns: [
                {
                    title: "MAC Address",
                    field: "macaddress",
                    sorter: "string",
                    width: 150,
                    headerFilter: "input"
                },  
                {
                    title: "IP Address",
                    field: "ipaddress",
                    sorter: "string",
                    width: 150,
                    headerFilter: "input"
                },  
                {
                    title: "Model",
                    field: "model",
                    sorter: "string",
                    width: 150,
                    headerFilter: "input"
                }, 
                {
                    title: "Port Name",
                    field: "model",
                    sorter: "string",
                    width: 150,
                    headerFilter: "input"
                }, 
                {
                    title: "Notes",
                    field: "model",
                    sorter: "string",
                    width: 150,
                    headerFilter: "input"
                }, 
                {
                    title: "Visibility",
                    field: "model",
                    sorter: "string",
                    width: 150,
                    headerFilter: "input"
                }, 
                {
                    title: "IP Address",
                    field: "ipaddress",
                    sorter: "string",
                    width: 150,
                    headerFilter: "input"
                }, 
                {
                    title: "Device Type",
                    field: "team",
                    sorter: "string",
                    hozAlign: "center",
                    editor: "select",
                    headerFilter: true,
                    headerFilterParams: {
                        "RCB": "RCB",
                        "MI": "MI",
                        "KKR": "KKR",
                    }
                }, {
                    title: "Joining Date",
                    field: "joiningdate",
                    sorter: "date",
                    hozAlign: "center"
                },
            ],
            rowClick: function(e, row) {
                alert("Row " + row.getData().playerid + " Clicked!!!!");
            },
        });
    </script>

</html>