<!--
Name: Gavin Claire
Document: inspect.html
Decription: HTML for the inspect page.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Network Visulation Scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>

</head>

<body>

    {% include 'navbar.html' %}

    <section class="edit">

        <div class="text">
            <h1> Inspect Network </h1>
        </div>

        <div class="rightContainer">
            <div class="alignRight">
                <a class="cancelEditButton" href="{% url 'upload' %}">Cancel</a>
            </div>
            <div class="divider"></div>
            <div class="alignRight">
                <a class="saveEditButton" href="{% url 'edit' %}">Save</a>
            </div>
        </div>

        <form id="table" name="form1" action="#"> 
            <div class="container">
                <div id="scanMenu">
                    <form id="table" name="form1" action="#"> 
                        <table class="datatable" id="datatable">
                            <thead>
                                <tr>
                                    <th>IP Address</th>
                                    <th>Hostname</th>
                                    <th>Models</th>
                                    <th>Neighbors</th>
                                    <th>Device Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="row1">
                                    <td contenteditable></td>
                                    <td contenteditable></td>
                                    <td contenteditable></td>
                                    <td contenteditable></td>
                                    <td contenteditable></td>
                                    <td><input type='button' class='deleteButton' onclick='deleteRow(1);' value='Delete'></td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="newIpAddress" class="form-input" placeholder="xxx.xxx.xxx.xxx/xx" maxlength=18/></td>
                                    <td><input type="text" id="newHostname" placeholder="Router1"></td>
                                    <td><input type="text" id="newModel" placeholder="3700"></td>
                                    <td><input type="text" id="newNeighbors" placeholder="10.0.0.1, 10.0.0.2"></td>
                                    <td><input type="text" id="newDeviceType" placeholder="Router"></td>
                                    <td><input type="button" class="addButton" onclick="addRow();" value="Add Credential"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="alignRight">
                <input type="submit" value="submit" class="submitButton" id="submit" href="{% url 'inspect' %}" />
            </div>
        </form>
    </section>
</body>

<script type="text/javascript">
    var nodeData = JSON.parse("{{nodeData|escapejs}}")
    // Create table

    var table = document.getElementById("datatable");
    for (device in nodeData) {
        console.log(device);
        var tableLen = (table.rows.length) - 1;
        var row = table.insertRow(tableLen).outerHTML = "<tr id='row"+tableLen+"'><td id='ipaddress'>"+nodeData[device].IP+"</td><td id='hostname'>"+nodeData[device].hostname+"</td><td id='models'>"+nodeData[device].model+"</td><td id='neighbors'>"+nodeData[device].neighbors+"</td><td id='devicetype'>"+nodeData[device].device_type+"</td></tr>";
    }
    

</script>
</html>