<!--
Name: Gavin Claire
Document: inspect.html
Decription: HTML for the inspect page.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Network Visulation Scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>
</head>

<body>

    {% include 'navbar.html' %}

    <section class="inspect">
        <!-- <div class="popup" onclick="myFunction()">Click me!
            <span class="popuptext" id="myPopup">Popup text...</span>
          </div> -->

        <div class="text">
            <h1> Inspect Network </h1>
        </div>

        <div class="container">
            <div id="singleNetwork"></div>
                <table class="datatable2" id="datatable2">
                    <thead>
                        <tr>
                            <th><div id="selectedIcon"> <img src="{% static 'images/NetDiscover_Icon_Laptop_V1.png' %}"> </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="ipAddressRow"><td>IP Address: </td></tr>
                        <tr id="hostnameRow"><td>Hostname: </td></tr>
                        <tr id="modelsRow"><td>Models: </td></tr>
                        <tr id="neighborsRow"><td>Neighbors: </td></tr>
                        <tr id="deviceTypeRow"><td>Device Type: </td></tr>
                        </tr>
                    </tbody>
                </table>
        </div>
        
        <br><hr><br> 

        <div class="rightContainer">
            <div class="alignRight">
                <a class="inspectNewButton" href="{% url 'upload' %}">Inspect New Network</a>
            </div>
            <div class="divider"></div>
            <div class="alignRight">
                <a class="editButton" href="{% url 'edit' %}">Edit Network</a>
            </div>
            <div class="divider"></div>
            <div class="alignRight">
                <a class="exportButton" onclick="downloadPDF();">Export Table (PDF)</a>
            </div>
        </div>
        
        <div class="container">
            <div id="scanMenu">
                <form id="table" name="form1" action="#"> 
                    <div id="tableExport" class="divScroll">
                        <table class="datatable" id="datatable">
                            <thead>
                                <tr>
                                    <th>IP Address</th>
                                    <th>Hostname</th>
                                    <th>Models</th>
                                    <th>Neighbors</th>
                                    <th>Device Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="row1">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

<script type="text/javascript">
    var nodes = JSON.parse("{{nodes|escapejs}}")
    var edges = JSON.parse("{{edges|escapejs}}")
    var nodeData = JSON.parse("{{nodeData|escapejs}}")

    // create a network

    /// where images are stored
    var DIR = "./website/static/images/";

    var container = document.getElementById("singleNetwork");
    var data = {
        nodes: nodes,
        edges: edges,
    };
    var options = {
        configure : {
        "enabled": false, 
        "filter": true}, 
        "edges": {"color": {"inherit": true}, 
        "smooth": {"enabled": false, "type": "continuous"}}, 
        "interaction": {"hover": true, "dragNodes": true, "hideEdgesOnDrag": false, "hideNodesOnDrag": false, "navigationButtons": true}, 
        "physics": {"enabled": true, "stabilization": {"enabled": true, "fit": true, "iterations": 1000, "onlyDynamicEdges": false, "updateInterval": 50}
        },
        nodes: {
            shape: "circularImage",
            image: DIR + "NetDiscover_Icon_Desktop_V1.png",
            size: 20,
            font: {
                size: 15,
                color: "#000000",
            },
            borderWidth: 2,
        },
        edges: {
            width: 2,
        },
        groups: {
            Desktop: {
                color: { background: "black", border: "black" },
                shape: "circularImage",
                image: DIR + "NetDiscover_Icon_Desktop_V1.png",
            },
            Firewall: {
                color: { background: "black", border: "black" },
                shape: "circularImage",
                image: DIR + "NetDiscover_Icon_FireWall_V1.png",
            },
            IPPhone: {
                color: { background: "black", border: "black" },
                shape: "circularImage",
                image: DIR + "NetDiscover_Icon_IPPhone_V1.png",
            },
            Laptop: {
                color: { background: "black", border: "black" },
                shape: "circularImage",
                image: DIR + "NetDiscover_Icon_Laptop_V1.png",
            },
            Modem: {
                color: { background: "black", border: "black" },
                shape: "circularImage",
                image: DIR + "NetDiscover_Icon_Modem_V1.png",
            },
            Printer: {
                color: { background: "black", border: "black" },
                shape: "circularImage",
                image: DIR + "NetDiscover_Icon_Printer_V1.png",
            },
            Router: {
                color: { background: "black", border: "black" },
                shape: "circularImage",
                image: DIR + "NetDiscover_Icon_Router_V1.png",
            },
            Server: {
                color: { background: "black", border: "black" },
                shape: "circularImage",
                image: DIR + "NetDiscover_Icon_Servers_V1.png",
            },
            Switch: {
                color: { background: "black", border: "black" },
                shape: "circularImage",
                image: DIR + "NetDiscover_Icon_Switch_V1.png",
            },
        },
    };
    var network = new vis.Network(container, data, options);
    network.on( 'click', function(properties) {
        
        console.log('clicked node ' + properties.nodes);
        
        if (properties.nodes != "") {
            var selectedDevice = null;
            for(device in nodeData) {
                if (nodeData[device].IP == properties.nodes || nodeData[device].hostname == properties.nodes) {
                    selectedDevice = device;
                }
            }

            var hostname = nodeData[selectedDevice].hostname;
            if (typeof hostname !== "string") {
                hostname = "Unknown";   
            }
            
            var model = nodeData[selectedDevice].model.toString();
            if (model == "None") {
                model = "Unknown";
            }

            var neighbors = nodeData[selectedDevice].neighbors.toString().replace(/,/gi, ", ");

            document.getElementById("selectedIcon").innerHTML = "<img src='website/static/images/NetDiscover_Icon_" + nodeData[selectedDevice].device_type + "_V1.png" + "'>";
            document.getElementById("ipAddressRow").innerHTML = "<td>IP Address: " + nodeData[selectedDevice].IP +  "</td>";
            document.getElementById("hostnameRow").innerHTML = "<td>Hostname: " + hostname +  "</td>";
            document.getElementById("modelsRow").innerHTML = "<td>Models: " + model +  "</td>";
            document.getElementById("neighborsRow").innerHTML = "<td>Neighbors: " + neighbors +  "</td>";
            document.getElementById("deviceTypeRow").innerHTML = "<td>Device Type: " + nodeData[selectedDevice].device_type +  "</td>";
        }
    });

    // Create pdf of page
    function downloadPDF() {
        var sTable = document.getElementById('tableExport').innerHTML;

        // Create temp html document with table contents and print
        var style = "<style>";
        style = style + "table { width: 100%; font: 17px sans-serif;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px; text-align: center; }";
        style = style + "</style>";

        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Network Topology Inspect Table</title>');
        win.document.write(style);
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);
        win.document.write('</body></html>');

        win.document.close();
        win.print();
    }

    // Create table

    var table = document.getElementById("datatable");
    selectedDevice = null
    for (device in nodeData) {
        var tableLen = (table.rows.length) - 1;

        if (selectedDevice == null) {
            selectedDevice = device
        }
        var hostname = nodeData[device].hostname;
        if (typeof hostname !== "string") {
            hostname = "Unknown";   
        }
        
        var model = nodeData[device].model.toString();
        if (model == "None") {
            model = "Unknown";
        }
        var neighbors = nodeData[device].neighbors.toString().replace(/,/gi, ", ");
        var row = table.insertRow(tableLen).outerHTML = "<tr id='row"+tableLen+"'><td id='ipaddress'>"+nodeData[device].IP+"</td><td id='hostname'>"+hostname+"</td><td id='models'>"+model+"</td><td id='neighbors'>"+neighbors+"</td><td id='devicetype'>"+nodeData[device].device_type+"</td></tr>";
    }
    
    var hostname = nodeData[device].hostname;
    if (typeof hostname !== "string") {
        hostname = "Unknown";   
    }
    
    var model = nodeData[device].model.toString();
    if (model == "None") {
        model = "Unknown";
    }

    var neighbors = nodeData[device].neighbors.toString().replace(/,/gi, ", ");

    document.getElementById("selectedIcon").innerHTML = "<img src='website/static/images/NetDiscover_Icon_" + nodeData[device].device_type + "_V1.png" + "'>";
    document.getElementById("ipAddressRow").innerHTML = "<td>IP Address: " + nodeData[device].IP +  "</td>";
    document.getElementById("hostnameRow").innerHTML = "<td>Hostname: " + hostname +  "</td>";
    document.getElementById("modelsRow").innerHTML = "<td>Models: " + model +  "</td>";
    document.getElementById("neighborsRow").innerHTML = "<td>Neighbors: " + neighbors +  "</td>";
    document.getElementById("deviceTypeRow").innerHTML = "<td>Device Type: " + nodeData[device].device_type +  "</td>";
    
</script>
</html>