<!--
Name: Gavin Claire, Carlos Dye
Document: help.html
Decription: HTML for the help page.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% include 'navbar.html' %}
    
    <section class="help">
        <div class="container">
            <h1 class="largeTitle"> Help </h1> 
            <div class="box">
                <p><b>Description: </b> NetDiscover is a network utility application that allows users to create and visualize their network through a topological map layout. This is a user-friendly, affordable, low-maintenance network mapping tool that can be employed to monitor networks. NetDiscover provides a simple user interface where clients effectively and efficiently check the health of their network with local network topology construction, modification, and inspection.  </p>
                
            </div>
            <div class="box">
                <p><b>Team 14 [Internet Explorers]:</b> Gavin Claire, Ronald Du, Carlos Dye, and Chad Saltzman </p>
            </div>
            <div class="box">
                <p><b>Instructors:</b> Devrin Lee and Dr. David Feil-Seifer </p>
            </div>
            <div class="box">
                <p><b>External Advisors:</b> Dr. Engin Arslan (High-Performance Computing Researcher) and Dr. Shamik Sengupta (Cybersecurity Center Executive Director) </p>
            </div>
        </div>
    </section>
</body>
</html>