<!--
Name: Gavin Claire, Carlos Dye
Document: help.html
Decription: HTML for the help page.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% include 'navbar.html' %}
    
    <section class="help">
        <div class="container">
            <h1 class="largeTitle"> Help </h1> 
            <div class="box">
                <p>NetDiscover, a network utility application, allows users to create and visualize their network through a topological map layout. NetDiscover is a user-friendly, affordable, low-maintenance network mapping tool that small companies and enterprises employ to monitor their networks. NetDiscover is geared toward assisting small businesses which are unable to monitor their networks effectively. NetDiscover provides a simple user interface where clients effectively and efficiently check the health of their network with local network topology construction, modification, and inspection. This paper details the recent project advancements and updated specifications of NetDiscover while examining the functional and non-functional requirements of the program. Furthermore, changes to the project design since the initial conception are discussed. Finally, the project has an updated user interface design. </p>
            <div class="box2">
                <p>Team 14 [Internet Explorers]: Gavin Claire, Ronald Du, Carlos Dye, and Chad Saltzman </p>
            </div>
        </div>
    </section>
</body>
</html>