<!--
Name: Gavin Claire
Document: inspect.html
Decription: HTML for the inspect page.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Network Visulation Scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>

</head>

<body>

    {% include 'navbar.html' %}

    <section class="inspect">
        <div class="network">
            <div id="singleNetwork"></div>
        </div>

    </section>
</body>

<script type="text/javascript" src="{% static 'js/graph.js' %}"></script>
<script>
    function call_counter(url, pk) { 
        window.open(url); 
        $.get('YOUR_VIEW_HERE/'+pk+'/', function (data) { 
            alert("counter updated!"); 
        }); 
    } 
</script>
</html>
  